

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (min-width:700px){

    .cards-container{
        display: flex;
        margin-top: 14.5px;
        margin-bottom: 14.5px;
    }
    header{
        height:8vh;
        background-color:#D1D2D4;
        font-size: 20px;
    }
    .content-a{
        height:81vh;
        width:50%;
        background-color: #8CC63F;
        font-size: 20px;
        order: 2;
        
    }
    .content{
        height: 81vh;
        width:25%;
    }
    .content.b{
        font-size: 20px;
        background-color:#0B9444;
        order: 1;
    }
    .content.c{
        font-size: 20px;
        background-color: #F5EE31;
        order: 3;
    }
    footer{
        height:8vh;
        background-color:#D1D2D4;
        font-size: 20px;
    }
    p{
        line-height: 2em;
        margin-left: 7px;
    }
}
@media (min-width:480px) and (max-width:699px){
    .cards-container{
        margin-top:14px;
        display:flex;
        flex-direction: row;
        margin-bottom:14px;
    }
    header{
        background-color: #D1D2D4;
        height:5vh;
    }
    .content{
        width:50%;
        height:34vh;
        margin-top: 510px;;
    }
    .content-a{
        position:absolute;
        width:100%;
        height:53.1vh;
        background-color: #8CC63F;
        right:0;
        order: 1;
    }
    .content.b{
        background-color:#0B9444;
        order: 2;
        
    }
    .content.c{
        background-color:#F5EE31;
        order: 3;
   
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
        font-size: 20px;
    }
    footer{
        background-color: #D1D2D4;
        height:5vh;
    }
}
@media (max-width:470px){
    .cards-container{
        margin-top:14px;
        display:flex;
        flex-direction:column;
        margin-bottom:14px;
    }
    header{
        background-color: #D1D2D4;
        height:5vh;
    }
    .content{
        width:100%;
        height:25vh;
    }
    .content-a{
        position:absolute;
        width:100%;
        height:37vh;
        background-color: #8CC63F;
        right:0;
        order: 1;
    }
    .content.b{
        margin-top: 355px;
        background-color:#0B9444;
        order: 2;
        
    }
    .content.c{
        background-color:#F5EE31;
        order: 3;
   
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
        font-size: 20px;
    }
    footer{
        background-color: #D1D2D4;
        height:5vh;
    }
}


