

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (min-width:700px){

    .cards-container{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .content{
        display: flex;
        height: 39.3vh;
        width:60%;
        flex-direction: column;
        font-size: 20px;
    }
    header{
        height:9vh;
        background-color:#D1D2D4;
        font-size: 20px;
    }
    .content.a{
        background-color:#EF4036;
    }
    .content.b{
        background-color: #FCB040;
    }
    .content-c{
        position:absolute;
        height:78.6vh;
        width:40%;
        right: 0;
        background-color: #F5EE31;
        font-size: 20px;
    }
    footer{
        height:9vh;
        background-color:#D1D2D4;
        font-size: 20px;
        
    
    }
    p{
        line-height: 2em;
        margin-left: 2px;
    }
}
@media (min-width:480px) and (max-width:699px){
    .cards-container{
        margin-top:20px;
        display:flex;
        flex-direction: column;
        margin-bottom:20px;
    }
    header{
        background-color: #D1D2D4;
        height:6.8vh;
    }
    .content{
        width:50%;
        height:41vh;
    }
    .content.a{
       background-color:#EF4036;
    }
    .content.b{
        background-color:#FCB040;
    }
    .content-c{
        position:absolute;
        width:50%;
        height:82vh;
        background-color: #F5EE31;
        right:0;
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
        font-size: 20px;
    }
    footer{
        background-color: #D1D2D4;
        height:6.8vh;
    }
}
@media (max-width:470px){
    .cards-container{
        margin-top:20px;
        display:flex;
        flex-direction: column;
        margin-bottom:20px;
    }
    header{
        background-color: #D1D2D4;
        height:6.69vh;
    }
    .content{

        height: 27.5vh;
    }
    .content.a{
       background-color:#EF4036;
    }
    .content.b{
        background-color:#FCB040;
    }
    .content-c{
        height:27.5vh;
        background-color: #F5EE31;
    }
    p{
        line-height: 1.5em;
        margin-left:5px;
        font-size: 20px;
    }
    footer{
        background-color: #D1D2D4;
        height:6.69vh;
    }
}


